<% include partials/_header %>
<%
  calculateSum = function(data) {
    let sum = 0; 
    for(var i = 0; i < data.length; i++) {
      sum = sum + data[i].timeMin;
    }

    var hours = Math.floor( sum / 60);          
    var minutes = sum % 60;

    return hours + ":" + minutes;
  }
  
%>


<div class="mt-5">
  <div class="row">
    <div class="col-md-12" id="displayLog">
      <h3> Billable <h3> <h3 style="float: right"> Balance Leaves : <%= leaveData%> </h3> 
      <table class="table table-striped" id="logDataTable">
        <thead>
          <tr style="font-weight: bold;font-size: 15px;color: cornflowerblue;">
            <th  >#</th>
            <th  >Project Code</th>
            <th  >Auto</th>
            <th  >Date</th>
            <th  >Hours</th>
            <th  >Is Billable</th>
            <th  >Comments</th>
            <th  >Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].code %></td>
                <td><%= data[i].autoSwitch %></td>
                <td><%= data[i].dol %></td>
                <td><%= data[i].hours %></td>
                <td><%= data[i].billable %></td>
                <td> <%= data[i].comments.substring(0, 30) %> 
                     <div id="moreInfo" style="display:none">
                        <%= data[i].comments %>
                     </div>
                     <a id="show_hide" name="show_hide" href="#">Read more</a>
                </td>
                <td>
                  <a href="/l/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                  <a href="/l/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                </td>
              </tr>
            <% } %>
          <tr style="font-weight: bold;font-size: 15px;color: cornflowerblue;">
                <td  >Total</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td  ><%= calculateSum(data) %></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
          <% } %>
        </tbody>
      </table>

      <h3 style="margin-left: 45%; margin-top: 30px"> Non Billable </h3>
      <table class="table table-striped" id="logDataTableNonBill">
        <thead>
          <tr style="font-weight: bold;font-size: 15px;color: cornflowerblue;">
            <th  >#</th>
            <th  >Project Code</th>
            <th  >Auto</th>
            <th  >Date</th>
            <th  >Hours</th>
            <th  >Is Billable</th>
            <th  >Comments</th>
            <!-- <th  >Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <% if (dataNonBill) { %>
            <% for(var i = 0; i < dataNonBill.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= dataNonBill[i].code %></td>
                <td><%= dataNonBill[i].autoSwitch %></td>
                <td><%= dataNonBill[i].dol %></td>
                <td><%= dataNonBill[i].hours %></td>
                <td><%= dataNonBill[i].billable %></td>
                <td> <%= dataNonBill[i].comments.substring(0, 30) %> 
                     <div id="moreInfo" style="display:none">
                        <%= dataNonBill[i].comments %>
                     </div>
                     <a id="show_hide" name="show_hide" href="#">Read more</a>
                </td>
              </tr>
            <% } %>
          <tr style="font-weight: bold;font-size: 15px;color: cornflowerblue;">
                <td  >Total</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td  ><%= calculateSum(dataNonBill) %></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
          <% } %>
        </tbody>
      </table>

      <button onclick="exportTableToExcel('logDataTable', 'logDataTable')">Export Table Data To Excel File</button>
    </div>
    <div class="col-md-4" id="createLog" style="display: none;">
      <div class="card-body">

        <form action="/l/add" method="POST">
          <div class="form-group">
              <span class="hours">Project</span>
              <select name="code"  class="form-control" autofocus>
                  <% for(var i = 0; i < projectData.length; i++) { %>
                    <option value=<%= projectData[i].code %>><%= projectData[i].displayCode %></option>>
                  <% } %>
                </select>
          </div>
          <div class="form-group">
            <span class="dol">Log Date</span>
            <input type="date" id="dol" name="dol" placeholder="Date of Log" class="form-control">
          </div>
          <div class="form-group">
            <span class="hours">Hours</span>
            <input type="time" name="hours" placeholder="Hours" class="form-control" value="08:00">
          </div>
          <div class="form-group">
              <span class="hours">Jira Details</span>
              <textarea rows="4" name="comments"  placeholder="Add your comments" class="form-control"></textarea>
            </div>
          <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="autoSwitch" name="autoSwitch" checked>
                         <label class="custom-control-label" for="autoSwitch"><span style="width:100px;margin-left: 20px;" >Automatic</span></label> 
                    </div>      
                </div>
                <div class="col-md-6">
                    <div class="form-group custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input ml-20" id="billable" name="billable" checked>
                        <label class="custom-control-label" for="billable"><span style="width:100px;margin-left: 20px;" >Billable</span></label>
                    </div>
                </div>
              </div>
          </div>
          <div id="manual" style="display: none;">
              <div class="form-group custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input ml-20" id="manualHoursLogged" name="manualHoursLogged">
                  <label class="custom-control-label" for="manualHoursLogged">
                    <span style="width:100px;margin-left: 20px;" >Manual Hours Logged ? </span>
                  </label>
              </div>
                <div class="form-group">
                  <textarea rows="4" name="manualHoursComments"
                            placeholder="Add Manual Hours comments to be logged" class="form-control">
                  </textarea>
                </div>
          </div>
          
          <button type="submit" class="btn btn-primary">
            save log
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
