<% include partials/_header %>


<div class="mt-5">
  <div class="row">
    <div class="col-md-5" id="displayLog">
      <span style="font-size:20px;text-align:center;display: block;">MAIN REPORT</span>
      <table class="table table-bordered table-hover">
        <thead>
          <tr style="font-weight: bold;font-size: 15px;color: cornflowerblue;">
            <th>#</th>
            <th>Project Code</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>  
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].code %></td>
                <td><%= data[i].hours %> : <%= data[i].min %> </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-7" id="displayLog">  
      <span style="font-size:20px;text-align:center;display: block;">SUB REPORT</span>
      <table class="table table-bordered table-hover">
          <thead>
            <tr style="font-weight: bold;font-size: 15px;color: cornflowerblue;">
              <th>#</th>
              <th>Project Code</th>
              <th>Username</th>
              <th>Hours</th>
            </tr>
          </thead>
          <tbody>  
            <% if (userReport) { %>
              <% for(var i = 0; i < userReport.length; i++) { %>
                <tr>
                  <td><%= (i + 1) %></td>
                  <td><%= userReport[i].code %></td>
                  <td><%= userReport[i].username %></td>
                  <td><%= userReport[i].hours %> : <%= userReport[i].min %> </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
    </div>
  </div>
</div>

<% include partials/_footer %>
